@tailwind base;
@tailwind components;
@tailwind utilities;

.App{
    text-align: center;
    padding: 1rem;
    color: #3e3e3e;
}

.description-hidden{
    @apply inline-block text-ellipsis overflow-hidden max-h-11 text-justify transition ease-in-out duration-150 leading-5
}
.show{
    @apply max-h-full transition ease-in-out duration-150
}
.show-btn{
    display: block;
    color: #858181;
}
.hide-btn{
    display: none;
}